[submodule "unitcell_project/scrape_scripts/py-rcsbsearchapi"]
	path = unitcell_project/scrape_scripts/py-rcsbsearchapi
	url = https://github.com/rcsb/py-rcsbsearchapi.git
[submodule "unitcell_repo"]
	path = unitcell_repo
	url = https://github.com/adamkurth/unitcell_repo.git
[submodule "waterbackground_subtraction"]
	path = waterbackground_subtraction
	url = https://github.com/adamkurth/waterbackground_subtraction.git
